.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #703b09;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
}

.Toolbar nav {
  height: 100%;

}


/* position: fixed; always at the top  */
/* display: flex;  default position is row, even with block els */
/* box-sizing: border-box; enrures correct sizing even with padidng*/
/* z-index: 90; needs to be lower than backdrop*/
